# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.git
.venv
engines
test-result
test-result-*
trtmc_frames
trtmc_frames_old
*.trtfb
*.wav
*.mp4
*.npy
*.npz
*.pt
*.pth
*.safetensors
build
build-*
*.o
*.a
*.so
*.so.*
