# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

Pillow==12.2.0
accelerate==1.14.0
diffusers==0.40.0
PyYAML==6.0.3
einops==0.8.2
ftfy==6.3.1
huggingface-hub==1.26.0
imageio[pyav]==2.37.4
flash-linear-attention==0.5.2
mmcv==1.7.2
omegaconf==2.3.0
pyrallis==0.3.1
pytz==2026.3.post1
qwen-vl-utils==0.0.14
scipy==1.15.3
termcolor==3.3.0
timm==0.6.13
tokenizers==0.22.2
tqdm==4.67.3
transformers==5.2.0
